# Homework  
Data documentation: https://tidyr.tidyverse.org/reference/who.html

__Directions:__ Answer the three questions below. Create as many code/markdown blocks necessary to answer the questions.

In [1]:
!pip install gdown

Requirement already satisfied: gdown in c:\users\administrator\desktop\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: filelock in c:\users\administrator\desktop\anaconda3\lib\site-packages (from gdown) (3.6.0)
Requirement already satisfied: six in c:\users\administrator\desktop\anaconda3\lib\site-packages (from gdown) (1.16.0)
Requirement already satisfied: beautifulsoup4 in c:\users\administrator\desktop\anaconda3\lib\site-packages (from gdown) (4.11.1)
Requirement already satisfied: requests[socks] in c:\users\administrator\desktop\anaconda3\lib\site-packages (from gdown) (2.25.1)
Requirement already satisfied: tqdm in c:\users\administrator\desktop\anaconda3\lib\site-packages (from gdown) (4.49.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\administrator\desktop\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.3.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\administrator\desktop\anaconda3\lib\site-packages (from requests[socks]->gdown) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\administrator\desktop\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.26.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\administrator\desktop\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\administrator\desktop\anaconda3\lib\site-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\administrator\desktop\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.graph_objs as go

df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/who.csv')

In [30]:
df.head()

,country,iso2,iso3,year,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,new_sp_m5564,...,newrel_m4554,newrel_m5564,newrel_m65,newrel_f014,newrel_f1524,newrel_f2534,newrel_f3544,newrel_f4554,newrel_f5564,newrel_f65
0,Afghanistan,AF,AFG,1980,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AF,AFG,1981,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AF,AFG,1982,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,1983,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,1984,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df = df.drop(columns=['iso2', 'iso3'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7240 entries, 0 to 7239
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       7240 non-null   object
 1   year          7240 non-null   int64
 2   new_sp_m014   3173 non-null   float64
 3   new_sp_m1524  3209 non-null   float64
 4   new_sp_m2534  3206 non-null   float64
 5   new_sp_m3544  3219 non-null   float64
 6   new_sp_m4554  3223 non-null   float64
 7   new_sp_m5564  3218 non-null   float64
 8   new_sp_m65    3209 non-null   float64
 9   new_sp_f014   3174 non-null   float64
 10  new_sp_f1524  3194 non-null   float64
 11  new_sp_f2534  3200 non-null   float64
 12  new_sp_f3544  3199 non-null   float64
 13  new_sp_f4554  3204 non-null   float64
 14  new_sp_f5564  3195 non-null   float64
 15  new_sp_f65    3197 non-null   float64
 16  new_sn_m014   1045 non-null   float64
 17  new_sn_m1524  1030 non-null   float64
 18  new_sn_m2534  1022 non-null   float64
 19  new_sn_m3544  1025 non-null   float64
 20  new_sn_m4554  1027 non-null   float64
 21  new_sn_m5564  1021 non-null   float64
 22  new_sn_m65    1020 non-null   float64
 23  new_sn_f014   1040 non-null   float64
 24  new_sn_f1524  1022 non-null   float64
 25  new_sn_f2534  1016 non-null   float64
 26  new_sn_f3544  1020 non-null   float64
 27  new_sn_f4554  1018 non-null   float64
 28  new_sn_f5564  1017 non-null   float64
 29  new_sn_f65    1019 non-null   float64
 30  new_ep_m014   1038 non-null   float64
 31  new_ep_m1524  1026 non-null   float64
 32  new_ep_m2534  1020 non-null   float64
 33  new_ep_m3544  1024 non-null   float64
 34  new_ep_m4554  1020 non-null   float64
 35  new_ep_m5564  1015 non-null   float64
 36  new_ep_m65    1018 non-null   float64
 37  new_ep_f014   1032 non-null   float64
 38  new_ep_f1524  1021 non-null   float64
 39  new_ep_f2534  1021 non-null   float64
 40  new_ep_f3544  1021 non-null   float64
 41  new_ep_f4554  1017 non-null   float64
 42  new_ep_f5564  1017 non-null   float64
 43  new_ep_f65    1014 non-null   float64
 44  newrel_m014   190 non-null    float64
 45  newrel_m1524  182 non-null    float64
 46  newrel_m2534  183 non-null    float64
 47  newrel_m3544  184 non-null    float64
 48  newrel_m4554  184 non-null    float64
 49  newrel_m5564  185 non-null    float64
 50  newrel_m65    182 non-null    float64
 51  newrel_f014   190 non-null    float64
 52  newrel_f1524  184 non-null    float64
 53  newrel_f2534  182 non-null    float64
 54  newrel_f3544  183 non-null    float64
 55  newrel_f4554  183 non-null    float64
 56  newrel_f5564  183 non-null    float64
 57  newrel_f65    185 non-null    float64
dtypes: float64(56), int64(1), object(1)
memory usage: 3.2+ MB

## Question 1. We need to know what's included in this data.
- How many countries are present?  
- What's the timespan of the data?  
- Does each country have a row for every year present?  
- Which countries are missing years?  
- How many rows have at least 1 non-null values across the columns 3-57?

In [32]:
print("Number of countries are", len(df["country"].unique()))

Number of countries are 219

In [33]:
df["year"].max()-df["year"].min()

33

In [34]:
df.iloc[:,:2].duplicated().value_counts()  #There are no combinations of duplicates

False    7240
dtype: int64

In [35]:
df["year"].value_counts().tail() #Each year needs to have a minimum of 217

1985    212
1984    212
1983    212
1982    212
1997    212
Name: year, dtype: int64

In [36]:
countries=pd.DataFrame(df["country"].value_counts())
countries["country"].tail(9)

Netherlands Antilles                 30
Serbia & Montenegro                  25
Timor-Leste                          12
Montenegro                            9
Serbia                                9
Curacao                               4
Bonaire, Saint Eustatius and Saba     4
Sint Maarten (Dutch part)             4
South Sudan                           3
Name: country, dtype: int64

In [37]:
df.iloc[:,2:56].isna().sum()

new_sp_m014     4067
new_sp_m1524    4031
new_sp_m2534    4034
new_sp_m3544    4021
new_sp_m4554    4017
new_sp_m5564    4022
new_sp_m65      4031
new_sp_f014     4066
new_sp_f1524    4046
new_sp_f2534    4040
new_sp_f3544    4041
new_sp_f4554    4036
new_sp_f5564    4045
new_sp_f65      4043
new_sn_m014     6195
new_sn_m1524    6210
new_sn_m2534    6218
new_sn_m3544    6215
new_sn_m4554    6213
new_sn_m5564    6219
new_sn_m65      6220
new_sn_f014     6200
new_sn_f1524    6218
new_sn_f2534    6224
new_sn_f3544    6220
new_sn_f4554    6222
new_sn_f5564    6223
new_sn_f65      6221
new_ep_m014     6202
new_ep_m1524    6214
new_ep_m2534    6220
new_ep_m3544    6216
new_ep_m4554    6220
new_ep_m5564    6225
new_ep_m65      6222
new_ep_f014     6208
new_ep_f1524    6219
new_ep_f2534    6219
new_ep_f3544    6219
new_ep_f4554    6223
new_ep_f5564    6223
new_ep_f65      6226
newrel_m014     7050
newrel_m1524    7058
newrel_m2534    7057
newrel_m3544    7056
newrel_m4554    7056
newrel_m5564    7055
newrel_m65      7058
newrel_f014     7050
newrel_f1524    7056
newrel_f2534    7058
newrel_f3544    7057
newrel_f4554    7057
dtype: int64

## Question 2: Wide data isn't usually helpful.
Convert this to a long format with the following columns:  
1. country  
2. year  
3. diagnosis method: mapping should be: 

```
  {'newsp':'Pulmonary Smear (+)'
  ,'newsn':'Pulmonary Smear (-)'
  ,'newep':'Extrapulmonary'
  ,'newrel':'Relapse'}   
 ```

4. gender: male or female.   
5. age: lower_age - higher_age, e.g., 0-14  
6. number of cases  

__Note__: You can use `replace` (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7240 entries, 0 to 7239
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       7240 non-null   object
 1   year          7240 non-null   int64
 2   new_sp_m014   3173 non-null   float64
 3   new_sp_m1524  3209 non-null   float64
 4   new_sp_m2534  3206 non-null   float64
 5   new_sp_m3544  3219 non-null   float64
 6   new_sp_m4554  3223 non-null   float64
 7   new_sp_m5564  3218 non-null   float64
 8   new_sp_m65    3209 non-null   float64
 9   new_sp_f014   3174 non-null   float64
 10  new_sp_f1524  3194 non-null   float64
 11  new_sp_f2534  3200 non-null   float64
 12  new_sp_f3544  3199 non-null   float64
 13  new_sp_f4554  3204 non-null   float64
 14  new_sp_f5564  3195 non-null   float64
 15  new_sp_f65    3197 non-null   float64
 16  new_sn_m014   1045 non-null   float64
 17  new_sn_m1524  1030 non-null   float64
 18  new_sn_m2534  1022 non-null   float64
 19  new_sn_m3544  1025 non-null   float64
 20  new_sn_m4554  1027 non-null   float64
 21  new_sn_m5564  1021 non-null   float64
 22  new_sn_m65    1020 non-null   float64
 23  new_sn_f014   1040 non-null   float64
 24  new_sn_f1524  1022 non-null   float64
 25  new_sn_f2534  1016 non-null   float64
 26  new_sn_f3544  1020 non-null   float64
 27  new_sn_f4554  1018 non-null   float64
 28  new_sn_f5564  1017 non-null   float64
 29  new_sn_f65    1019 non-null   float64
 30  new_ep_m014   1038 non-null   float64
 31  new_ep_m1524  1026 non-null   float64
 32  new_ep_m2534  1020 non-null   float64
 33  new_ep_m3544  1024 non-null   float64
 34  new_ep_m4554  1020 non-null   float64
 35  new_ep_m5564  1015 non-null   float64
 36  new_ep_m65    1018 non-null   float64
 37  new_ep_f014   1032 non-null   float64
 38  new_ep_f1524  1021 non-null   float64
 39  new_ep_f2534  1021 non-null   float64
 40  new_ep_f3544  1021 non-null   float64
 41  new_ep_f4554  1017 non-null   float64
 42  new_ep_f5564  1017 non-null   float64
 43  new_ep_f65    1014 non-null   float64
 44  newrel_m014   190 non-null    float64
 45  newrel_m1524  182 non-null    float64
 46  newrel_m2534  183 non-null    float64
 47  newrel_m3544  184 non-null    float64
 48  newrel_m4554  184 non-null    float64
 49  newrel_m5564  185 non-null    float64
 50  newrel_m65    182 non-null    float64
 51  newrel_f014   190 non-null    float64
 52  newrel_f1524  184 non-null    float64
 53  newrel_f2534  182 non-null    float64
 54  newrel_f3544  183 non-null    float64
 55  newrel_f4554  183 non-null    float64
 56  newrel_f5564  183 non-null    float64
 57  newrel_f65    185 non-null    float64
dtypes: float64(56), int64(1), object(1)
memory usage: 3.2+ MB

In [39]:
df

,country,year,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,new_sp_m5564,new_sp_m65,new_sp_f014,...,newrel_m4554,newrel_m5564,newrel_m65,newrel_f014,newrel_f1524,newrel_f2534,newrel_f3544,newrel_f4554,newrel_f5564,newrel_f65
0,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7235,Zimbabwe,2009,125.0,578.0,NaN,3471.0,681.0,293.0,192.0,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7236,Zimbabwe,2010,150.0,710.0,2208.0,1682.0,761.0,350.0,252.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7237,Zimbabwe,2011,152.0,784.0,2467.0,2071.0,780.0,377.0,278.0,174.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7238,Zimbabwe,2012,120.0,783.0,2421.0,2086.0,796.0,360.0,271.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7239,Zimbabwe,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2349.0,1206.0,1208.0,1252.0,2069.0,4649.0,3526.0,1453.0,811.0,725.0

In [40]:
df_new = (df.melt(id_vars=['year','country'], var_name='Age', value_name='Cases')
)

In [41]:
df_new["gender"]=[(x.split('_')[-1][:1]) for x in df_new["Age"]]

In [42]:
df_new["gender"]=df_new["gender"].map({
    'm':'male',
    'f':'female'})

In [43]:
df_new["AGE"]=[(x.split('_')[-1][1:]) for x in df_new["Age"]]

In [44]:
df_new["AGE"]=df_new["AGE"].map({
    '014':'0-14',
    '1524':'15-24',
    '2534':"25-34",
    '3544':"35-44",
    '4554':'45-54',
    '5564':'55-64',
    '65':'65+'
})

In [45]:
df_new["diagnosis"]=(df_new["Age"].str.extract(pat='(["a-z|_"]+)m'))

In [46]:
df_new["diagnosis"]=df_new["diagnosis"].map({
    'new_sp_':'Pulmonary Smear (+)',
    'new_sn_':'Pulmonary Smear (-)',
    'new_ep_':"Extrapulmonary",
    'newrel':"Relapse"
})

In [47]:
df_new

,year,country,Age,Cases,gender,AGE,diagnosis
0,1980,Afghanistan,new_sp_m014,NaN,male,0-14,Pulmonary Smear (+)
1,1981,Afghanistan,new_sp_m014,NaN,male,0-14,Pulmonary Smear (+)
2,1982,Afghanistan,new_sp_m014,NaN,male,0-14,Pulmonary Smear (+)
3,1983,Afghanistan,new_sp_m014,NaN,male,0-14,Pulmonary Smear (+)
4,1984,Afghanistan,new_sp_m014,NaN,male,0-14,Pulmonary Smear (+)
...,...,...,...,...,...,...,...
405435,2009,Zimbabwe,newrel_f65,NaN,female,65+,NaN
405436,2010,Zimbabwe,newrel_f65,NaN,female,65+,NaN
405437,2011,Zimbabwe,newrel_f65,NaN,female,65+,NaN
405438,2012,Zimbabwe,newrel_f65,NaN,female,65+,NaN
405439,2013,Zimbabwe,newrel_f65,725.0,female,65+,NaN

In [51]:
df_new.drop(columns=['Age'],inplace=True)

In [55]:
df_new

        year      country  Cases  gender   AGE            diagnosis
0       1980  Afghanistan    NaN    male  0-14  Pulmonary Smear (+)
1       1981  Afghanistan    NaN    male  0-14  Pulmonary Smear (+)
2       1982  Afghanistan    NaN    male  0-14  Pulmonary Smear (+)
3       1983  Afghanistan    NaN    male  0-14  Pulmonary Smear (+)
4       1984  Afghanistan    NaN    male  0-14  Pulmonary Smear (+)
...      ...          ...    ...     ...   ...                  ...
405435  2009     Zimbabwe    NaN  female   65+                  NaN
405436  2010     Zimbabwe    NaN  female   65+                  NaN
405437  2011     Zimbabwe    NaN  female   65+                  NaN
405438  2012     Zimbabwe    NaN  female   65+                  NaN
405439  2013     Zimbabwe  725.0  female   65+                  NaN

[405440 rows x 6 columns]

In [54]:
df_new.isna().sum()  #We will be dropping out the null values, as the cases are not registered

year              0
country           0
Cases        329394
gender            0
AGE               0
diagnosis    253400
dtype: int64

In [23]:
df_new.dropna(inplace=True)

In [24]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36808 entries, 17 to 253398
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       36808 non-null  int64
 1   country    36808 non-null  object
 2   Age        36808 non-null  object
 3   Cases      36808 non-null  float64
 4   gender     36808 non-null  object
 5   AGE        36808 non-null  object
 6   diagnosis  36808 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.2+ MB

## Question 3: Create a graph that shows when countries started to report TB cases.

In [25]:
pop85Growth=pd.DataFrame(df_new.query("Cases>0").groupby(['country',"year"])["Cases"].sum())
pop85Growth=(pop85Growth.reset_index(level="year")\
    .groupby(level="country")\
    .first()\
    .set_index(["year"], append=True))          #https://stackoverflow.com/questions/66663932/select-the-first-row-from-each-group-after-groupby-multiindex
pop85Growth=pop85Growth.reset_index()

In [26]:
pop85Growth

                       country  year   Cases
0                  Afghanistan  1997    26.0
1                      Albania  1995    89.0
2                      Algeria  1997  5767.0
3               American Samoa  1997     5.0
4                      Andorra  1996     5.0
..                         ...   ...     ...
212  Wallis and Futuna Islands  1996     2.0
213   West Bank and Gaza Strip  1995     7.0
214                      Yemen  1995  1712.0
215                     Zambia  1995  4390.0
216                   Zimbabwe  2002  6219.0

[217 rows x 3 columns]

In [61]:
fig = go.Figure(data=go.Choropleth(
    locations = pop85Growth["country"],
    z = pop85Growth["Cases"],
    text = pop85Growth["year"],
    locationmode='country names',
    colorscale = 'sunset',
    autocolorscale=False,
    reversescale=True,
    marker_line_color='darkgray',
    marker_line_width=0.2,
    colorbar_ticksuffix = 'K',
    colorbar_title = 'Number of initial<br>TB Cases',
))

fig.update_layout(
    title_text='Depicts the onset of TB cases based on Location and Year',
    geo=dict(
        showframe=False,
        showcoastlines=False,
        projection_type='equirectangular'
        
    ),

)

fig.show()
#Referenced from https://plotly.com/python/choropleth-maps/